---
layout: article
id: route
title: Routes
---

<p>
  Follow us on our route using our <a href="{{ site.tracker }}">tracker</a>!
</p>

<h2 id="north">North Route</h2>
<div class="grid hidden-sm hidden-md">
{% include north-stops.html %}
<img src="/assets/img/route-north.png" alt="Route" />
</div>
<div class="hidden-lg">
{% include north-stops.html %}
<img src="/assets/img/route-north.png" alt="Route" />
</div>

<hr />

<h2 id="south">South Route</h2>
<div class="grid hidden-sm hidden-md">
{% include south-stops.html %}
<img src="/assets/img/route-south.png" alt="Route" />
</div>
<div class="grid hidden-lg">
{% include south-stops.html %}
<img src="/assets/img/route-south.png" alt="Route" />
</div>
