        <ul class="social">
          <li><a href="https://x.com/nettelhorstbike" class="secondary"><img src="/assets/img/twitter.png" alt="Twitter. I will not call this X" /></a></li>
          <li><a href="https://instagram.com/nettelhorstbike"><img src="/assets/img/instagram.png" alt="Instagram" /></a></li>
          <li><a href="mailto:hello@nettelhorstbikebus.org"><img src="/assets/img/email.png" alt="Tracker" /></a></li>
          <li><a href="https://nettelhorst-bike-bus.glitch.me"><img src="/assets/img/tracker.png" alt="Tracker" /></a></li>
        </ul>
