<ul class="social">
  <li><a href="{{ site.bluesky }}" title="Follow us on Bluesky"><i class="fa-brands fa-bluesky" aria-hidden="true"></i><span class="sr-only">Bluesky</span></a></li>
  <li><a href="{{ site.instagram }}" title="View our Instagram"><i class="fa-brands fa-instagram" aria-hidden="true"></i><span class="sr-only">Instagram</span></a></li>
  <li><a href="/calendar" title="View or subscribe to our calendar"><i class="fa-solid fa-calendar" aria-hidden="true"></i><span class="sr-only">Calendar</span></a></li>
  <li><a href="{{ site.tracker }}" title="Track our current location (when riding)"><i class="fa-solid fa-location-dot" aria-hidden="true"></i><span class="sr-only">Tracker</span></a></li>
</ul>
