<ul class="social">
  <li><a href="{{ site.bluesky }}" class="secondary" title="Follow us on Bluesky"><img src="/assets/img/bluesky.png" alt="Bluesky" /></a></li>
  <li><a href="{{ site.instagram }}" title="View our Instagram"><img src="/assets/img/instagram.png" alt="Instagram" /></a></li>
  <li><a href="/calendar" title="View or subscribe to our calendar"><img src="/assets/img/calendar.png" alt="Calendar" /></a></li>
  <li><a href="{{ site.tracker }}" title="Track our current location (when riding)"><img src="/assets/img/tracker.png" alt="Tracker" /></a></li>
</ul>
