@font-face {
  font-family: 'Aristotelica';
  src: url('/assets/fonts/Aristotelica-DemiBold.ttf') format('truetype');
  font-weight: 600; /* Bold */
  font-style: normal;
}

@font-face {
  font-family: 'Aristotelica';
  src: url('/assets/fonts/Aristotelica-Regular.ttf') format('truetype');
  font-weight: 400; /* Regular */
  font-style: normal;
}

@font-face {
  font-family: 'Aristotelica';
  src: url('/assets/fonts/Aristotelica-ExtraLight.ttf') format('truetype');
  font-weight: 100; /* Thin */
  font-style: normal;
}

h1, h2, h3, h4, h5, h6, article header, thead {
  font-family: 'Aristotelica', sans-serif;
  font-weight: 600;
  letter-spacing: 2px;
}

@media (max-width: 768px) {
  .hidden-sm {
    display: none !important;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .hidden-md {
    display: none !important;
  }
}

@media (min-width: 1025px) {
  .hidden-lg {
    display: none !important;
  }
}
