<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>{{ site.title }} {% if page.title %} | {{ page.title }} {% endif %}</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.red.min.css"
    >
    <link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}">
  </head>

  <body>
    <main class="container">
      <header>
      {% include top-nav.html %}
      </header>
      <div class="main-container">
        {% include left-panel.html %}
        <div class="content-container">
          {{ content }}
        </div>
      </div>
    </main>
    <footer>
      <aside class="hidden-md hidden-lg">
      {% include social.html %}
      </aside>
    </footer>
  </body>
</html>
